# Note this is just one of the sections in the printer.cfg and
# driver chip TMC2209 is used here. The values might need to 
# be changed to match your build.

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: True
run_current: 0.92
hold_current: 0.65
sense_resistor: 0.110
stealthchop_threshold: 999999
driver_IHOLDDELAY: 8        # Default 8
driver_TPOWERDOWN: 20       # Default 20
driver_TBL: 1               # Default 2
driver_TOFF: 2              # Default 3
driver_HEND: 1              # Default 0
driver_HSTRT: 7             # Default 5
driver_PWM_AUTOGRAD: False  # Default True
driver_PWM_AUTOSCALE: False # Default True
driver_PWM_LIM: 12          # Default 12
driver_PWM_REG: 8           # Default 8
driver_PWM_FREQ: 2          # Default 1
driver_PWM_GRAD: 18         # Default 14
driver_PWM_OFS: 36
#driver_SGTHRS: 0
#   Set the given register during the configuration of the TMC2209
#   chip. This may be used to set custom motor parameters. The
#   defaults for each parameter are next to the parameter name in the
#   above list.
#diag_pin:
#   The micro-controller pin attached to the DIAG line of the TMC2209
#   chip. The pin is normally prefaced with "^" to enable a pullup.
#   Setting this creates a "tmc2209_stepper_x:virtual_endstop" virtual
#   pin which may be used as the stepper's endstop_pin. Doing this
#   enables "sensorless homing". (Be sure to also set driver_SGTHRS to
#   an appropriate sensitivity value.) The default is to not enable
#   sensorless homing.
